.header-style {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  > img {
    margin: 15px 0 0 15px;
    height: 60px;
  }

  .navbar {
    margin-right: 15px;

    .nav-item {
      font-size: 20px;
      text-decoration: none;
      color: #000;
      margin: 0 10px;

      &:hover {
        color: blue;
        text-decoration: underline;
      }
    }
  }
}
